<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/@@fortawesome/fontawesome-free/css/all.css" />
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <title>SportsStore</title>
</head>
<body>
    <div class="navbar navbar-dark bg-dark" role="navigation">
        <div class="row col-12">
            <div class="col-8">
                <a class="navbar-brand" href="#">SPORTS STORE</a>
            </div>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary").ConfigureAwait(false)
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await Component.InvokeAsync("NavigationMenu").ConfigureAwait(false)
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
